<a href="https://colab.research.google.com/github/Susrinivas/Python-Stats-and-Visualization/blob/main/data690_session02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data 690 session 02

- Date: 09/09/22
- Name: Susrinivas Nettem

In [25]:
year = "1/11/1997 1991 2000 1966 1999 1998 1993 1996 1999 1997 1996 1998 1995"
print('Birth year of students',year)

Birth year of students 1/11/1997 1991 2000 1966 1999 1998 1993 1996 1999 1997 1996 1998 1995

In [26]:
type(year)

str

In [27]:
year_list = year.split(" ")
print(year_list)

['1/11/1997', '1991', '2000', '1966', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995']

In [12]:
x=[2.3,4.5,5.5,6.5]
type(x)

list

In [20]:
total = 0
y=0;
for num in x:
  total =total+num;
  y = y+1
print('sum and length ',total, y)

sum and length  18.8 4

In [21]:
print('avg is ', total/y)

avg is  4.7

In [28]:
year_list[0]

'1/11/1997'

In [29]:
year_list[2]

'2000'

In [38]:
years_list2=year_list.pop(0)

In [33]:
years_list2

'1991'

In [35]:
from datetime import date
current_year = date.today().year
print(current_year)

2022

In [42]:
total = 0
age = 0
x=0;
for y in year_list:
  age = int(current_year)-int(y)
  x=x+1
  total = total+age
  print('age of person',x, 'is', age)

age of person 1 is 56
age of person 2 is 23
age of person 3 is 24
age of person 4 is 29
age of person 5 is 26
age of person 6 is 23
age of person 7 is 25
age of person 8 is 26
age of person 9 is 24
age of person 10 is 27

In [47]:
import math
print('average age of class is',math.floor(total/len(year_list)))

average age of class is 28