<a href="https://colab.research.google.com/github/Susrinivas/Python-Stats-and-Visualization/blob/main/assignment_02/data690_session02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data 690 session 02

- Date: 09/09/22
- Name: Susrinivas Nettem

In [ ]:
year = "1/11/1997 1991 2000 1966 1999 1998 1993 1996 1999 1997 1996 1998 1995"
print('Birth year of students',year)

Birth year of students 1/11/1997 1991 2000 1966 1999 1998 1993 1996 1999 1997 1996 1998 1995

In [ ]:
type(year)

str

In [ ]:
year_list = year.split(" ")
print(year_list)

['1/11/1997', '1991', '2000', '1966', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995']

In [ ]:
x=[2.3,4.5,5.5,6.5]
type(x)

list

In [ ]:
total = 0
y=0;
for num in x:
  total =total+num;
  y = y+1
print('sum and length ',total, y)

sum and length  18.8 4

In [ ]:
print('avg is ', total/y)

avg is  4.7

In [ ]:
year_list[0]

'1/11/1997'

In [ ]:
year_list[2]

'2000'

In [ ]:
years_list2=year_list.pop(0)

In [ ]:
years_list2

'1991'

In [ ]:
from datetime import date
current_year = date.today().year
print(current_year)

2022

In [ ]:
total = 0
age = 0
x=0;
for y in year_list:
  age = int(current_year)-int(y)
  x=x+1
  total = total+age
  print('age of person',x, 'is', age)

age of person 1 is 56
age of person 2 is 23
age of person 3 is 24
age of person 4 is 29
age of person 5 is 26
age of person 6 is 23
age of person 7 is 25
age of person 8 is 26
age of person 9 is 24
age of person 10 is 27

In [ ]:
import math
print('average age of class is',math.floor(total/len(year_list)))

average age of class is 28

# Approach 2 - fix data problem

In [ ]:
years_list = year.split()
years_list

['1/11/1997',
 '1991',
 '2000',
 '1966',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995']

In [ ]:
years_list[0] = '1997'
years_list

['1997',
 '1991',
 '2000',
 '1966',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995']

In [ ]:
x='I don\'t like \'\''
x

"I don't like ''"

In [ ]:
y='I prefer double quote ""'
y

'I prefer double quote ""'

In [ ]:
total = 0
age = 0
x=0;
for y in year_list:
  age = int(current_year)-int(y)
  x=x+1
  total = total+age
  print('age of person',x, 'is', age)

age of person 1 is 56
age of person 2 is 23
age of person 3 is 24
age of person 4 is 29
age of person 5 is 26
age of person 6 is 23
age of person 7 is 25
age of person 8 is 26
age of person 9 is 24
age of person 10 is 27

In [ ]:
import math
print('average age of class is',math.floor(total/len(year_list)))

average age of class is 28

# Approach 3 : Handle exception

In [ ]:
years_list = year.split()
years_list

['1/11/1997',
 '1991',
 '2000',
 '1966',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995']

In [ ]:
total = 0
age = 0
x=0;
for y in years_list:
  try:
    age = int(current_year)-int(y)
  except:
    continue
  if age > 80:
    print('skipping this person age > 80:', age)
    continue
  elif age < 10:
    print('skipping this kid < 10:', age)
    continue
  
  x=x+1
  total = total+age
  print('age of person',x, 'is', age)

age of person 1 is 31
age of person 2 is 22
age of person 3 is 56
age of person 4 is 23
age of person 5 is 24
age of person 6 is 29
age of person 7 is 26
age of person 8 is 23
age of person 9 is 25
age of person 10 is 26
age of person 11 is 24
age of person 12 is 27

In [ ]:
import math
print('average age of class is',math.floor(total/len(years_list)-1))

average age of class is 24

In [ ]:
import math
print('average age of class is',math.floor(total/x), x)

average age of class is 28 12

# Miscallenous

In [ ]:

while(True):
  try:
    x=int(input('Enter a Number: '))
    break;
  except:
    print('please enter only integer')

Enter a Number: frf
please enter only integer
Enter a Number: efe
please enter only integer
Enter a Number: 23